<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= threejsProjectName %></title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<script type="x-shader/x-vertex" id="vertexShader">
  void main() {
    gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
  }
</script>
<script type="x-shader/x-fragment" id="fragmentShader">
  void main() {
    gl_FragColor = vec4( 1.0, 0.0, 0.0, 0.5 );
  }
</script>
<body>
  <canvas id="artboard"></canvas>
  <script src="scripts/artboard.min.js"></script>
</body>
</html>
