<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= threejsProjectName %></title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<script type="x-shader/x-vertex" id="vertexShader">
  void main() {
    gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
  }
</script>
<script type="x-shader/x-fragment" id="fragmentShader">
  void main() {
    gl_FragColor = vec4( 1.0, 0.0, 0.0, 0.5 );
  }
</script>
<body>
  <canvas id="artboard"></canvas>
  <script src="scripts/vendor/threejs/three.js"></script>
  <script src="scripts/vendor/shoestring/shoestring-dev.js"></script>
  <script src="scripts/vendor/statsjs/stats.min.js"></script>


  <script src="scripts/helpers/doobstats.js"></script>
  <script src="scripts/vendor/threejs/controls/OrbitControls.js"></script>
  <script src="scripts/models/defaultmodel.js"></script>
  <!--<script src="scripts/scenes/jsonloader_start.js"></script>-->
  <!--<script src="scripts/scenes/buffergeometry_lines.js"></script>-->
  <script src="scripts/artboard.js"></script>
  <script src="scripts/scenes/startscene.js"></script>
  <script src="scripts/main.js"></script>
</body>
</html>
